@import "../../../scss/media";
@import "../../../scss/vars";

.item {
  border-radius: 12px;
  overflow: hidden;

  &:hover {
    background: $gray;
  }
}

.active {
  background: $accent-color;

  &:hover {
    background: $accent-color;
  }
}

.active .name {
  color: $light;
}

.link {
  display: flex;
  padding: 9px;
}

.avatar {
  margin-right: 15px;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.name {
  color: $dark;
  margin-top: 5px;
  font-size: 18px;
  font-weight: 500;
}
