@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@300;400;500;600;700&display=swap");

$dark: #000000;
$light: #ffffff;
$gray: #f5f5f5;
$dark-gray: #5e5d5d;
$accent-color: #4062ff;
$logo-font: "Lobster", cursive;
$main-font: "Montserrat", sans-serif; ;
