@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@300;400;500;600;700&display=swap");

$dark: #000000;
$light: #ffffff;
$gray: #e7e7e7;
$dark-gray: #5e5d5d;
$accent-color: #3390ec;
$secondary-color: #b5e0a4;
$logo-font: "Lobster", cursive;
$main-font: "Montserrat", sans-serif; ;
