@import "../../scss/media";
@import "../../scss/vars";

.wrapper {
  height: calc(100vh - 60px);
  display: flex;

  @include media(642) {
    height: calc(100vh - 100px);
  }
}

.title {
  font-size: 25px;
  font-weight: 600;
  padding: 10px 0;
}

.dialogs {
  flex: 0 0 350px;
  padding: 18px 0 0 5px;
  border-top: none;
  border-bottom: none;
}

.chat {
  flex: 1 1 auto;
  background: rgba($color: #779459, $alpha: 0.7)
    url("https://www.transparenttextures.com/patterns/food.png");

  display: flex;
  flex-direction: column;
}

.chat_wrapper {
  padding: 20px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba($color: $dark-gray, $alpha: 0.6);
  }
}

.list {
  height: calc(100% - 45px);
  padding: 0 5px 0 0;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 5px;
  }

  &:hover::-webkit-scrollbar-thumb {
    background: rgba($color: $dark-gray, $alpha: 0.6);
  }
}

.chat_list {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.item {
  max-width: 400px;
  padding: 15px;
  margin: 5px 0;
  background: $light;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  align-self: flex-start;
}

.notMy + .my,
.my + .notMy {
  margin-top: 30px;
}

.my {
  background: $secondary-color;
  align-self: flex-end;
}

.form {
  max-width: 600px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  align-items: center;

  textarea {
    width: 500px;
    font-size: 18px;
    padding: 15px 20px;
    border-radius: 10px;
    margin-right: 10px;
    resize: none;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  button {
    background: $light;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $accent-color;

    &:hover {
      background: $accent-color;
      color: $light;
    }
  }
}
